{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "60"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}]
  ]
}
